/* Estiliza todos os elementos <p> ou qualquer outro texto */
p {
  line-height: 1.0; /* Diminui o espaçamento entre linhas */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Aplique a cor de fundo desejada no body */
body {
  background-color: white;
}

/* Ajusta o espaçamento para um título ou subtítulo */
h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.a {
text-decoration: none;
}

.container {
  max-width: 1200px; /* Largura máxima do conteúdo */
  margin: 0 auto; /* Centralizar o container */
  padding: 5px 15px 0px 10px; /* Aumentar o padding conforme necessário */
}

/* Estilo para o container da busca */
.search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Estilo para o campo de busca */
.search-input {
  flex: 1;
  margin-top: 5px;
  padding: 5px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

/* Estilo para o botão de filtro */
.filter-button {
  background-color: #007bff; /* Cor do botão */
  border: 1px solid #007bff;
  border-radius: 0 4px 4px 0;
  padding: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para o ícone de filtro */
.filter-button i {
  font-size: 16px;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
  .search-container {
    flex-direction:row;
  }
  .search-input {
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .search-button {
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .filter-button {
    border-radius: 4px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
}

/* Estilo geral da lista de marcas */
.Marcas-list {
  display: flex;
  overflow-x: auto; /* Permite o scroll horizontal */
  scroll-snap-type: x mandatory; /* Faz com que o scroll "trave" nos itens */
  gap: 1px; /* Espaçamento entre os itens */
  padding: 10px 0; /* Padding para dar um respiro ao redor */
}

.Marcas-list::-webkit-scrollbar {
  display: none; /* Remove a barra de rolagem do Chrome/Safari */
}

.Marcas-item {
  min-width: 100px; /* Largura mínima para cada item */
  flex: 0 0 auto; /* Garante que os itens não encolham nem cresçam */
  align-items: center;
  padding: 2px;
  transition: background-color 0.3s ease;
  scroll-snap-align: start; /* Faz com que o item "trave" no início ao rolar */
  flex-direction: column; /* Para que a imagem fique acima do texto */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.Marcas-item img {
  width: 82px;  /* Largura da imagem */
  height: 82px; /* Altura igual à largura para ser circular */
  border-radius: 50%; /* Deixa a imagem circular */
  object-fit: cover; /* Garante que a imagem preencha a área circular */
  margin-bottom: 10px; /* Espaço entre a imagem e o texto */
}

.Marcas-item:hover {
  background-color: #f0f0f0;
}

/* Informação de cada favorito */
.Marcas-info {
  display: flex;
  flex-direction: column;
}

.Marcas-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* Responsividade */
@media (max-width: 600px) {
  .Marcas-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .Marcas-image {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Estilo geral da lista de categorias */
.Categorias-section {    
  border-radius: 8px;
  max-width: 1200px;
}

.Categorias-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 itens por linha */
  gap: 10px; /* Espaço entre os itens */
  justify-content: center;
}

.titulo-home {
  margin-top: 13px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.subtitulo-home {
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  font-weight:300;
}

.titulo-home-marcas {
  width: 50%;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.titulo-home-categorias {
  width: 50%;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Categorias-list::-webkit-scrollbar {
  display: none; /* Remove a barra de rolagem do Chrome/Safari */
}

.Categorias-item {
  min-width: 80px; /* Largura mínima para cada item */
  flex: 0 0 auto; /* Garante que os itens não encolham nem cresçam */
  align-items: center;
  padding: 8px;
  transition: background-color 0.3s ease;
  scroll-snap-align: start; /* Faz com que o item "trave" no início ao rolar */
  flex-direction: column; /* Para que a imagem fique acima do texto */
  text-align: center;
  cursor: pointer;
}

.Categorias-item img {
  width: 100px;  /* Largura da imagem */
  height: 100px; /* Altura igual à largura para ser circular */
  object-fit: cover; /* Garante que a imagem preencha a área circular */
  margin-bottom: 2px; /* Espaço entre a imagem e o texto */
  border-radius: 10px;
}

.Categorias-item:hover {
  background-color: #f0f0f0;
}

.Categorias-info {
  display: flex;
  flex-direction: column;
}

.Categorias-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* Responsividade */
@media (max-width: 600px) {
  .Categorias-item {
    flex-direction: column;
    align-items: flex-start;
  } 

  .Categorias-image {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Estilo geral da lista de itens */
.items-list {
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  gap: 5px; /* Espaçamento entre os itens */
  overflow-y: auto; /* Permite o scroll vertical */
  scroll-snap-type: x mandatory; /* Faz com que o scroll "trave" nos itens */
  padding: 5px 0; /* Padding para dar um respiro ao redor */
}

/* Estilo para cada cartão de item */
.item-card {
  display: flex;
  align-items: flex-start; /* Alinha a imagem e informações no início */
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  padding: 12px 0px 5px 0px;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

.addresses-card {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px 0px 0px 10px;
  transition: background-color 0.3s ease;
  margin: 15px 0px 25px 5px;
}

.orders-card {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  padding: 0px 0px 0px 0px;
  transition: background-color 0.3s ease;
  margin: 10px 0px 10px 0px
}


/* Efeito hover para cada cartão */
.item-card:hover {
  background-color: #f0f0f0;
}

/* Estilo para a imagem do item */
.item-image {
  width: 100px; /* Largura da imagem */
  height: 100px; /* Altura igual à largura para ser quadrada */
  margin-right: 0px; /* Espaço entre a imagem e as informações */
  object-fit: cover; /* Garante que a imagem preencha a área quadrada */
  border-radius: 8px; /* Borda arredondada para suavizar as bordas */
}

/* Nome do item */
.item-name {
  font-weight: 400;
  margin: 0;
  width: 200px;
  display: contents;
}

.item-total{
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Descrição do item */
.item-description {
  margin: 5px 0;
}

/* Preço antigo */
.item-old-price {
  text-decoration: line-through; /* Sinaliza que o preço está riscado */
  color: red; /* Cor para indicar desconto */
}

/* Preço atual */
.item-current-price {
  color: black; /* Cor para indicar preço atual */
  float: left;
  width: -webkit-fill-available;
}

/* Estilo para paginação */
.pagination {
  display: flex;
  justify-content: center; /* Centraliza os botões de paginação */
  margin-top: 20px; /* Espaçamento acima da paginação */
  margin-bottom: 30px;
  gap: 10px;
}

.pagination-button {
  background-color: #007bff; /* Cor do botão */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px 15px; /* Espaçamento interno do botão */
  margin: 0 5px; /* Espaçamento entre os botões */
  cursor: pointer; /* Cursor em forma de mão ao passar */
  transition: background-color 0.3s; /* Transição suave na mudança de cor */
}

.pagination-button:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
}

.pagination-button.active {
  background-color: #0056b3; /* Cor do botão ativo */
}

.pagination-info {
  padding-top: 5px;
}

/* global.css */
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 35px;
}

.product-image {
  max-width: 100%;
  width: 228px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.quantity-control {
  align-items: center;
  width: 100%;
}

.quantity-control button {
  font-size: 1.2em;
  margin: 5px 5px 5px 5px;
  padding: 10px 20px 10px;
  font-size: 1.1em;
  background-color: #d8d8d8; /* Cor do botão */
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Cursor em forma de mão ao passar */
  transition: background-color 0.3s; /* Transição suave na mudança de cor */
}

.buy-button {
  margin-bottom: 10px;
  background-color: #ffffff; /* Cor do botão */
  color: #060606; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px 10px 10px 10px; /* Espaçamento interno do botão */
  margin: 10px 2px; /* Espaçamento entre os botões */
  cursor: pointer; /* Cursor em forma de mão ao passar */
  transition: background-color 0.3s; /* Transição suave na mudança de cor */
  border: 1px solid #d9d9d9;
}
.buy-button-2 {
  margin-bottom: 10px;
  background-color: black; /* Cor do botão */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  margin: 10px 2px; /* Espaçamento entre os botões */
  cursor: pointer; /* Cursor em forma de mão ao passar */
  transition: background-color 0.3s; /* Transição suave na mudança de cor */
}

.add-to-cart-button {
  margin-bottom: 10px; 
  background-color: #ffffff; /* Cor do botão */
  color: #060606; /* Cor do texto */
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px 15px; /* Espaçamento interno do botão */
  margin: 10px 2px; /* Espaçamento entre os botões */
  cursor: pointer; /* Cursor em forma de mão ao passar */
  transition: background-color 0.3s; /* Transição suave na mudança de cor */
  border: 1px solid #d9d9d9;
}

.add-to-cart-button-2 {
  margin-bottom: 10px;
  background-color: #007bff; /* Cor do botão */
  color: rgb(255, 255, 255); /* Cor do texto */
  border: none;
  border-radius: 5px; /* Bordas arredondadas */
  margin: 10px 2px; /* Espaçamento entre os botões */
  cursor: pointer; /* Cursor em forma de mão ao passar */
  transition: background-color 0.3s; /* Transição suave na mudança de cor */
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  font-size: 1.0em;
  color: black; /* Cor do texto */
  background-color: #ffffff;
  padding: 10px 15px; /* Espaçamento interno do botão */
  margin: 10px 5px; /* Espaçamento entre os botões */
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  font-size: 1.0em;
  color: black; /* Cor do texto */
  background-color: #ffffff;
  padding: 10px 15px; /* Espaçamento interno do botão */
  margin: 10px 5px; /* Espaçamento entre os botões */
}

.cart-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 50px;
  margin-top: 10px;
}

.Cart-section {  
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  margin: 0 auto; /* Centralizar o container */
  max-height: 100%; /* Defina a altura máxima para o contêiner */
  overflow-y: auto; /* Permite rolar verticalmente */
  padding-right: 10px; /* Adiciona espaço para a rolagem */
}

.Cart-list {
  position: relative;  
  flex-direction:row ; /* Organiza os itens verticalmente */
  margin: 20px;
}

.item-card-cart {
  display: flex;
  border-bottom: 1px solid #d4d4d4;
  padding: 0px;
  margin-top: 10px;
}

/* Efeito hover para cada cartão */
.item-card-cart:hover {
  background-color: none;
}

.titulo-home-cart {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  display: inline;
  padding-left: 4%;
}

.subtitulo-home-cart {
  font-size: 14px;
  margin: 20px;
  margin-bottom: 0px;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 0px;
  background: none;
  cursor: pointer;
}

.checkout-button {
  display: flex;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;    /* Alinha verticalmente */
    transition: background-color 0.3s;
}

.checkout-title {
  position: relative;
  align-content: center;

}

.checkout {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  max-height: 100%; /* Defina a altura máxima para o contêiner */
  overflow-y: auto; /* Permite rolar verticalmente */
  padding-right: 10px; /* Adiciona espaço para a rolagem */
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Posição inicial fora da tela */
}

.close-button-checkout {
  position: relative;
  top: 10px;
  left: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 0px;
  background: none;
  cursor: pointer;
}

.clear-cart-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-item-button {
  border: none;
  cursor: pointer;
  color: #dc3545;
  background: none;
  right: 0px;
  position: absolute;
}

.cart-slide-in {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; /* Deslizar Tela inteira */
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  z-index: 998;
}

.cart-slide-in.open {
  transform: translateX(0);
}

.cart.hide {
  transform: translateX(100%); /* Move a tela para fora quando fechada */
}

.checkout.slide-in {
  transform: translateX(0); /* Move o checkout para dentro da tela */
}

.checkout.slide-out {
  transform: translateX(100%); /* Move o checkout para fora da tela */
}

.continue-shopping {
  font-size: medium;
  text-decoration: underline;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  margin-top: 30px;
  color: black;
}

.pull-right {
  text-align: right;
  padding-right: 5%;
}

.text-decoration {
  text-decoration: none;
  color: black;
}

.confirmation-screen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1001;
  margin: 0 auto; /* Centralizar o container */
  max-height: 100%; /* Defina a altura máxima para o contêiner */
  overflow-y: auto; /* Permite rolar verticalmente */
  padding-right: 10px; /* Adiciona espaço para a rolagem */
}

.order-details {
  margin-top: 15px;
  font-size: 16px;
}

.back-home-button {
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  background-color: #007bff;  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-page {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.success {
  color: green;
}

.default {
  color: blue;
}

.secondary {
  color: black;
}

.left-arrow {
  font-size: x-large;
  margin-top: 15px;
  float: left;
  padding-right: 15px;
  position: absolute;
}

.address-card {
  display: block;
}

.card-cel {
  padding: 5px 15px 5px;
}

.address-list {
  padding: 0;
  margin: 0;
}

.radio-list-pagamento {
  padding-top: 10px;
}

.radio-list {
  margin: 15px 0px 5px 0px;
}

.product-list-checkout {
  display: contents;
  list-style: none;
}

.left-form {
  width: 100%;
}

.right-form {
  width: 210px;
  text-align: right;
}

.flex {
  display: flex;
  padding: 15px 0px 5px 0px;
}

.flex_profile {
  margin: 0 auto;
  margin-top: 5px;
}

.card-checkout {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;  
}

.card-checkout-new {
  border: 1px solid green;
  border-radius: 8px;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;  
}

.section-client {
  padding: 10px 0px 10px 20px;
}

.section-delivery {
  padding: 20px 0px 10px 20px;
}

.section-payment{
  padding: 20px 0px 10px 20px;
}

.section-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Alinhamento horizontal */
  align-items: center;     /* Alinhamento vertical */
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
}

.section-auth {
  padding-bottom: 0px;
}

.section-profile {
  padding-bottom: 0px;
}

.loja_aberta {
  background-color: green;
  height: 3px;
}

.loja_fechada {
  font-size: 12px;
 background-color: #ff000080;
 height: 18px;
 color: white;
 padding: 2px;
 text-align: center;
}

.danger {
  border: 1px solid red;
}

.status {
  position: fixed;
  width: 100%;
  z-index: 2000;
  top: 0px;
}

.button-trash-address {
  color: #bebebe;
    cursor: pointer;
    float: left;
    display: flex;
}

.button-trash-user {
  color: #bebebe;
    cursor: pointer;
    float: left;
    display: flex;
}

.button-switch-address {
  margin-right: 10px;
  float: right;
}

.button-edit-user {
  margin-right: 10px;
  float: right;
  color: #1677ff;
}

.link-reset-password {
  margin-top: 22px;
  text-decoration: underline;
  color: currentColor;
}

.trash {
  cursor: pointer;
  color: #d9d9d9;
}

.address-title{
  padding: 0px 0px 0px 0px;
}

.loading-screen {
  display: flex;
}

.loading-screen-orders {
  position: fixed;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: 999;
}

.loading-screen img {  
  width: 228px; /* Ajuste o tamanho padrão da logomarca */
  height: auto; /* Mantém a proporção da imagem */
}

.loading-icon-screen {
  position:relative ;
  display:inline;
  margin-top: 60px; /* Espaço entre a logo e o ícone de loading */
  animation: spin 1s linear infinite; /* Animação de rotação */
  margin-bottom: 60px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-screen-category {
  display: flex;
}

.loading-screen-category img {  
  width: 228px; /* Ajuste o tamanho padrão da logomarca */
  height: auto; /* Mantém a proporção da imagem */
}

.loading-icon-screen-category {
  position:relative ;
  display:inline;
  margin-top: 90px; /* Espaço entre a logo e o ícone de loading */  
  animation: spin 1s linear infinite; /* Animação de rotação */
}

.section-search-component {
  margin-top: 10px;
  margin-bottom: 20px;
}

.item-category {
  font-size: smaller;
}

.list-orders {
  cursor: pointer;
}

.order-card {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.order-content {
  display: grid;
  grid-template-areas:
    "date id"
    "pay status"
    "delivery total"
    "empty empty";
  grid-gap: 8px;
}

.order-date {
  grid-area: date;
}

.order-id {
  grid-area: id;
  text-align: right;
}

.order-pay {
  grid-area: pay;
}

.order-delivery {
  grid-area: delivery;
  text-align: left;
}

.order-total {
  grid-area: total;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.order-status {
  grid-area: status;
  text-align: right;
  color: #52c41a;
}

.bottom10 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.bottom20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.bottom30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.itens-section {
  width: 100%;  /* Garante que o espaço ocupe toda a largura disponível */
  overflow-x: auto;  /* Permite o scroll horizontal */
  white-space: nowrap; /* Impede que as tags quebrem para a próxima linha */
}

.ant-space {
  display: flex;
  flex-wrap: nowrap;  /* As tags não vão quebrar para a linha seguinte */
}

.ant-tag {
  margin-right: 10px;  /* Adiciona um pequeno espaço entre as tags */
}

.Categorias-item-img {
  width: 100%;           /* A imagem ocupa 100% do contêiner pai */
  max-width: 150px;      /* Define o tamanho máximo da imagem */
  height: auto;          /* Mantém a proporção da imagem */
  object-fit: cover;     /* Ajusta o conteúdo para preencher o contêiner */
  border-radius: 10px;   /* Deixa a imagem levemente arredondada */
}

@media screen and (max-width: 768px) {
  .Categorias-item-img {
    max-width: 100%;    /* Reduz o tamanho máximo em telas menores */
  }
}

@media screen and (max-width: 380px) {
  .Categorias-item-img {
    max-width: 90%;    /* Ainda menor para dispositivos muito pequenos */
  }
}



